@keyframes rotation {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}
}

.once-in {
	will-change: transform;
}

.split-line {
	overflow: hidden;
	
	* {
		will-change: transform;
	}
}

.reveal-text {
	position: relative;
	overflow: hidden;
}