@keyframes rotation {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}
}

@keyframes floating {
	0% {
		transform: translateY(0);
	}

	25% {
		transform: translateY(-1rem);
	}

	75% {
		transform: translateY(1rem);
	}

	100% {
		transform: translateY(0);
	}
}

.once-in {
	will-change: transform;
}