.form-line {
    position: relative;
    display: block;
    margin-bottom: 1.5rem;

    &.error {
        .line-wrapper {
            .input {
                border-color: $red;
                color: $red;

                &::placeholder {
                    color: $red;
                }
            }
        }

        label.error {
            position: absolute;
            bottom: -.415rem;
            right: 0;
            background-color: $red;
            color: $white;
            font-size: .625rem;
            padding: 0 .5rem;
            border-radius: 1rem;
        }
    }

    .line-wrapper {
        position: relative;
        display: block;

        .input {
            display: block;
            width: 100%;
            border: none;
            border-bottom: 1px solid $white;
            background-color: transparent;
            box-shadow: none;
            padding: .375rem 0;
            border-radius: 0;
            color: $white;

            &::placeholder {
                color: $white;
            }

            &.select {
                cursor: pointer;
            }

            &.textarea {
                min-height: 9rem;
                height: 9rem;
                resize: vertical;

                @media #{$mq-md-min} {
                    min-height: 7.5rem;
                    height: 7.5rem;
                }
            }
        }

        svg {
            position: absolute;
            z-index: 2;
            top: 50%;
            transform: translateY(-50%);
            right: .25rem;
            pointer-events: none;
            width: .75rem;
            height: .75rem;
            color: $white;
        }
    }

    input[type='submit'] {
        display: none;
    }
}