#footer {
    z-index: 2;
    background-color: $white;
    margin-top: -1rem;
    padding: 4rem 0 2rem 0;

    @media #{$mq-md-min} {
        padding: 5vw 0;
    }

    .top {
        .row > div {
            text-align: center;

            @media #{$mq-sm-min} {
                text-align: left;
            }

            &:first-child {
                text-align: center;
                padding-bottom: 2rem;

                @media #{$mq-xl-min} {
                    padding-bottom: 0;
                }

                .logo {
                    display: flex;
                    width: 22.5rem;
                    max-width: 80%;
                    margin: 0 auto 1.5rem auto;
                    mix-blend-mode: darken;
                    transition: .3s;

                    @media #{$mq-sm-min} {
                        max-width: 100%;
                    }

                    @media #{$mq-xl-min} {
                        width: 100%;
                    }

                    @media #{$mq-2xl-min} {
                        width: 90%;
                    }

                    &:hover {
                        opacity: .75;
                    }

                    svg {
                        width: 100%;
                        height: auto;
                    }
                }

                .social {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1.25rem;

                    a {
                        display: flex;
                        width: 1rem;
                        height: 1rem;
                        color: $blue;
                        transition: .3s;

                        &:hover {
                            color: darken($blue, 25);
                        }

                        svg {
                            width: 100%;
                        }
                    }
                }
            }

            &:nth-child(2) {
                padding-bottom: 1rem;

                @media #{$mq-sm-min} {
                    padding-bottom: 0;
                }

                @media #{$mq-xl-min} {
                    padding-left: 2rem;
                }
            }

            &:last-child {
                padding-top: 1rem;

                @media #{$mq-sm-min} {
                    padding-top: 2rem;
                }

                @media #{$mq-xl-min} {
                    padding-top: 0;
                }

                p {
                    br {
                        display: none;

                        @media #{$mq-xl-min} {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .bottom {
        border-top: 1px solid $blue;
        padding-top: 7.5vw;
        margin-top: 7.5vw;
        text-align: center;

        @media #{$mq-sm-min} {
            text-align: left;
        }

        @media #{$mq-md-min} {
            padding-top: 2rem;
            margin-top: 2rem;
        }

        p {
            opacity: .75;

            br {
                @media #{$mq-sm-min} {
                    display: none;
                }
            }
        }
    }
}