#fs-menu {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    color: $white;

    .bg {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        opacity: 1;

        div {
            width: 100%;
            height: 0;
            background-color: $blue;
        }
    }

    .container,
    .row,
    .col-12 {
        height: 100vh;
    }

    .col-12 {
        .close-fs {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 2rem;
            margin-right: 1.1rem;
            display: flex;
            width: 1.25rem;
            height: 1.25rem;
            transition: .3s;
            opacity: 0;

            @media #{$mq-sm-min} {
                margin-top: 3.25rem;
                margin-right: 1.25rem;
            }

            &:hover {
                transform: rotate(90deg);
            }

            svg {
                width: 100%;
            }
        }

        .scroll-wrapper {
            display: flex;
            flex-direction: column;
            height: 100vh;
            overflow-y: scroll;
            padding-bottom: 9vh;
            padding-top: 9vh;

            &::-webkit-scrollbar {
                display: none;
            }

            .menu {
                margin-top: auto;

                > li {
                    opacity: 0;
                    padding: 1vh 0;
                    width: fit-content;

                    @media #{$mq-md-min} {
                        padding: 1vw 0;
                    }

                    > a,
                    > p {
                        font-size: 7vw;
                        transition: .3s ease-in-out;
                        line-height: 1.1;

                        @media #{$mq-md-min} {
                            font-size: 4vw;
                            line-height: 1;
                        }

                        &:hover {
                            color: $black;
                        }
                    }

                    &.has-sub {
                        position: relative;

                        &:hover {
                            p,
                            svg {
                                color: $black;
                            }
                        }

                        p {
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: .425rem;
                            cursor: pointer;

                            @media #{$mq-sm-min} {
                                margin-right: .75rem;
                            }
                        }

                        svg {
                            display: inline-block;
                            vertical-align: middle;
                            width: .75rem;
                            height: .75rem;
                            transition: .3s;
                            cursor: pointer;
                            transform: translateY(.15rem);

                            @media #{$mq-sm-min} {
                                width: 1rem;
                                height: 1rem;
                                transform: translateY(.25rem);
                            }

                            &.active {
                                transform: rotate(180deg);
                            }
                        }

                        .sub {
                            display: none;
                            font-weight: $regular;
                            padding-bottom: .5rem;

                            li {
                                padding-top: .5rem;

                                a {
                                    font-size: 5vw;
                                    transition: .3s ease-in-out;
                                    line-height: 1;
                                    transition: .3s ease-in-out;

                                    @media #{$mq-md-min} {
                                        font-size: 2vw;
                                        line-height: 1.4;
                                    }

                                    &:hover {
                                        color: $black;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .social {
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 1.5rem;
                margin-top: 6vh;
                width: fit-content;
                opacity: 0;

                a {
                    display: flex;
                    width: 1.375rem;
                    height: 1.375rem;
                    transition: .3s ease-in-out;

                    &:hover {
                        color: $black;
                    }

                    svg {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}