#fs-menu {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    color: $white;

    .bg {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        opacity: 1;

        div {
            width: 100%;
            height: 0;
            background-color: darken($blue, 20);
        }
    }

    .container,
    .row,
    .col-12 {
        height: 100%;
    }

    .col-12 {
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .close-fs {
            float: right;
            margin-top: 2rem;
            margin-right: 1.1rem;
            display: flex;
            width: 1.25rem;
            height: 1.25rem;
            transition: .3s;
            opacity: 0;

            @media #{$mq-sm-min} {
                margin-top: 3.25rem;
                margin-right: 1.25rem;
            }

            &:hover {
                transform: rotate(90deg);
            }

            svg {
                width: 100%;
            }
        }

        .menu {
            padding-top: 3rem;
            padding-left: 1rem;
            padding-bottom: 3rem;
            font-weight: $bold;

            > li {
                padding: .75rem 0;
                opacity: 0;

                @media #{$mq-sm-min} {
                    padding: 1rem 0;
                }

                @media #{$mq-sm-max} {
                    font-size: 80%;
                }

                &.has-sub {
                    position: relative;

                    p {
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: .75rem;

                        @media #{$mq-sm-min} {
                            margin-right: 1rem;
                        }
                    }

                    svg {
                        display: inline-block;
                        vertical-align: middle;
                        width: 1rem;
                        height: 1rem;
                        transition: .3s;

                        @media #{$mq-sm-min} {
                            width: 2rem;
                            height: 2rem;
                            transform: translateY(.25rem);
                        }

                        &.active {
                            transform: rotate(180deg);
                        }
                    }

                    .sub {
                        display: none;
                        font-size: 80%;
                        font-weight: $regular;
                        padding-top: .75rem;
                        padding-bottom: 1rem;

                        li {
                            padding-top: 1rem;
                        }
                    }
                }
            }
        }
    }
}