.popup {
    display: none;
    padding: .5rem;
    background-color: transparent;
    max-width: calc(100% - 1rem);
    width: 100vw;

    @media #{$mq-sm-min} {
        width: 90vw;
    }

    @media #{$mq-md-min} {
        width: 82.475vw;
    }

    @media #{$mq-xl-min} {
        width: 64.5vw;
    }

    &.fancybox__content > .is-close-btn {
        top: -1.5rem!important;
        right: 0!important;
        background-color: transparent!important;
        width: 2rem;
        height: 2rem;
    }

    .wrap {
        display: block;
        margin: auto;
        text-align: center;
        background-color: $white;
        color: $black;
        padding: 1.75rem 1.25rem;
        z-index: 2;
        position: relative;

        @media #{$mq-xs-min} {
            padding: 2rem;
        }

        @media #{$mq-sm-min} {
            padding: 3rem;
        }

        @media #{$mq-md-min} {
            padding: 4rem;
        }

        @media #{$mq-xl-min} {
            padding: 5rem;
        }

        h2 {
            @media #{$mq-sm-max} {
                font-size: 2.25rem;
            }

            @media #{$mq-xs-max} {
                font-size: 1.75rem;
            }
        }

        .desc {
            display: block;
            margin: .75rem auto 1.25rem auto;

            @media #{$mq-sm-min} {
                margin: 1rem auto 1.75rem auto;
            }

            @media #{$mq-md-min} {
                margin: 2rem auto;
            }

            br {
                display: none;
                
                @media #{$mq-sm-min} {
                    display: block;
                }
            }
        }
    }
}

#cookies-popup {
    display: none;
    position: fixed;
    z-index: 9;
    display: flex;
    justify-content: flex-end;
    bottom: .5rem;
    right: .5rem;

    @media #{$mq-sm-min} {
        bottom: 1rem;
        right: 1rem;
    }

    .wrapper {
        display: block;
        width: 30rem;
        max-width: calc(100vw - 1rem);
        background-color: $gray-darker;
        color: $white;
        padding: 1rem;

        @media #{$mq-sm-min} {
            max-width: calc(100vw - 2rem);
        }

        .desc {
            display: block;
            margin: .5rem 0 .725rem 0;

            @media #{$mq-sm-min} {
                margin-bottom: .5rem;
            }
        }

        button {
            display: inline-block;
            vertical-align: middle;
            margin-right: 1rem;
        }
    }
}