.popup {
    display: none;
    padding: .5rem;
    background-color: transparent;
    max-width: calc(100% - 1rem);
    width: 100vw;

    @media #{$mq-sm-min} {
        width: 90vw;
    }

    @media #{$mq-md-min} {
        width: 82.475vw;
    }

    @media #{$mq-xl-min} {
        width: 64.5vw;
    }

    &.fancybox__content > .is-close-btn {
        top: -1.5rem!important;
        right: 0!important;
        background-color: transparent!important;
        width: 2rem;
        height: 2rem;
    }

    .wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        margin: auto;
        text-align: center;
        background-color: $white;
        padding: 1.75rem 1.25rem;
        z-index: 2;
        position: relative;

        @media #{$mq-xs-min} {
            padding: 2rem;
        }

        @media #{$mq-sm-min} {
            padding: 3rem;
        }

        @media #{$mq-md-min} {
            padding: 4rem;
        }

        @media #{$mq-xl-min} {
            padding: 5rem;
        }

        h2 {
            text-transform: uppercase;
        }
    }
}