#top-box {
    z-index: 3;
    background: $green url(../img/lines.png) center center / cover no-repeat;
    padding: 7.5vw 0 15vw 0;
    transform: translateY(-1.5rem);
    margin-bottom: -1.5rem;

    @media #{$mq-md-min} {
        padding: 5vw 0;
    }

    @media #{$mq-lg-min} {
        border-radius: 1.25vw;
        transform: none;
    }

    &.light {
        background-color: $green-light;
    }

    &.blue {
        background-color: $blue;
    }

    &.has-form {
        overflow: hidden;
        padding-bottom: 7.5vw;

        @media #{$mq-md-min} {
            padding-bottom: 5vw;
        }

        .left {
            padding-bottom: 10vw;

            @media #{$mq-md-min} {
                display: flex;
                align-items: center;
                padding-right: 3rem;
                padding-bottom: 0;
            }

            @media #{$mq-lg-min} {
                padding-right: 5rem;
            }
        }

        .right {
            padding-top: 10vw;

            @media #{$mq-md-min} {
                padding-top: 0;
            }

            @media #{$mq-lg-min} {
                padding-left: 3rem;
            }

            .bg {
                position: absolute;
                z-index: 0;
                left: -5rem;
                top: 0;
                width: 200vw;
                height: 100rem;
                background-color: $blue;

                @media #{$mq-md-min} {
                    top: -10rem;
                    left: -15px;
                }
            }

            form {
                position: relative;
                z-index: 2;
            }
        }
    }

    .left {
        padding-top: 7vw;

        @media #{$mq-md-min} {
            padding-top: 0;
        }

        @media #{$mq-xl-min} {
            padding-right: 5rem;
        }

        h2 {
            color: $white;

            br {
                display: none;

                @media #{$mq-md-min} {
                    display: block;
                }
            }
        }

        .line {
            display: block;
            width: 5rem;
            height: .25rem;
            background-color: $blue;
            margin: 3vw 0 7vw 0;

            @media #{$mq-md-min} {
                margin: 1vw 0 2vw 0;
            }
        }

        .text-big {
            font-weight: $bold;
        }

        .featured {
            display: inline-block;
            margin: 5vw 0;

            @media #{$mq-md-min} {
                margin: 1vw 0 2vw 0;
            }

            span {
                display: inline;
                padding: .15rem 0;
                background: linear-gradient(
                    to right,
                    $blue 50%,
                    transparent 50%
                );
                background-size: 200% 100%;
                background-position-x: 100%;
                color: $white;
            }
        }

        .desc {
            display: block;
            margin-bottom: 5vw;

            @media #{$mq-md-min} {
                margin-bottom: 2.5vw;
            }
        }
    }

    .right {
        .image {
            &.image-01 {
                position: relative;
                overflow: hidden;
                border-radius: .5rem;
                width: 95%;
                height: 25rem;

                @media #{$mq-md-min} {
                    width: 90%;
                    height: 95%;
                    border-radius: .75rem;
                }

                @media #{$mq-lg-min} {
                    width: 80%;
                    height: 90%;
                }
            }

            &.image-02 {
                position: absolute;
                overflow: hidden;
                z-index: 2;
                bottom: 2rem;
                right: 15px;
                width: 45%;
                height: 60%;
                border-radius: .5rem;

                @media #{$mq-md-min} {
                    border-radius: .75rem;
                    width: 50%;
                }

                @media #{$mq-lg-min} {
                    width: 40%;
                    height: 80%;
                    bottom: 0;
                }
            }

            &.image-full {
                position: relative;
                overflow: hidden;
                border-radius: .5rem;
                width: 100%;
                height: 25rem;

                @media #{$mq-md-min} {
                    height: 100%;
                    border-radius: .75rem;
                }
            }
        }
    }
}