#top-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    margin: auto;
    overflow: visible;

    .box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.25rem;
        border-radius: .25rem;
        padding: 1rem;
        margin-top: 1rem;
        background-color: $green-light;
        border: 1px solid darken($green-light, 7.5);

        @media #{$mq-sm-min} {
            margin-top: 1rem;
            padding: 1rem 1.25rem;
            gap: 1.5rem;
        }

        @media #{$mq-xl-min} {
            padding: 1.5rem;
            gap: 1rem;
        }

        @media #{$mq-2xl-min} {
            padding: 1.5rem 2rem;
        }

        .logo {
            display: flex;
            width: 7rem;

            svg {
                width: 100%;
                mix-blend-mode: darken;
            }
        }

        .menu {
            position: relative;
            z-index: 2;
            display: none;
            align-items: center;
            gap: 1.25rem;

            @media #{$mq-xl-min} {
                display: flex;
                gap: 2.5rem;
                margin-left: -2rem;
            }

            @media #{$mq-2xl-min} {
                gap: 3.5rem;
            }

            li {
                a {
                    text-transform: uppercase;
                    font-size: 80%;
                    --border-width: 2px;
                    --border-color: var(--blue);
                }

                &.has-sub {
                    position: relative;

                    &:hover {
                        .flex {
                            background-size: 100% var(--border-width);
                        }

                        .sub {
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    .flex {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: .5rem;
                        margin-bottom: 2rem;
                        transform: translateY(1.05rem);
                        --border-width: 2px;
                    
                        &.hover-underline {
                            --border-color: var(--blue);
                        }

                        p {
                            text-transform: uppercase;
                            font-size: 80%;
                        }

                        svg {
                            width: .5rem;
                            height: .5rem;
                            min-width: .5rem;
                            color: $blue;
                        }
                    }

                    .sub {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        background: $blue url(../img/texture.png) center center / cover no-repeat;
                        color: $white;
                        padding: 1rem 1.5rem;
                        border-radius: .5rem;
                        opacity: 0;
                        visibility: hidden;
                        transition: .3s;

                        li {
                            display: block;

                            a {
                                white-space: nowrap;
                                transition: color .3s ease-in-out;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                gap: 2rem;
                                margin: .5rem 0;

                                svg {
                                    width: 1rem;
                                    min-width: 1rem;
                                    height: 1rem;
                                    opacity: 0;
                                    transform: translateX(-1rem);
                                    transition: .3s ease-in-out;
                                    color: $gray-dark;
                                }

                                &:hover {
                                    color: $gray-dark;

                                    svg {
                                        opacity: 1;
                                        transform: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: .75rem;

            @media #{$mq-sm-min} {
                gap: 1rem;
            }

            .language {
                position: relative;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .25rem;

                @media #{$mq-sm-min} {
                    gap: .5rem;
                }

                &:before {
                    position: absolute;
                    left: -2.5rem;
                    top: -2.25rem;
                    width: 1px;
                    height: 6rem;
                    background-color: $green;

                    @media #{$mq-xl-min} {
                        content: '';
                    }
                }

                a {
                    display: block;
                    padding: .35rem .625rem;
                    border-radius: 2rem;
                    text-transform: uppercase;
                    line-height: 1;
                    transition: .6s;

                    &:hover {
                        background-color: $blue-light;
                    }

                    &.active {
                        background-color: $black;
                        color: $green;
                    }
                }
            }

            .open-fs {
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 1.25rem;
                width: 1.25rem;
                height: 1.25rem;
                transition: .6s;

                @media #{$mq-xl-min} {
                    display: none;
                }

                &:hover {
                    transform: rotate(-90deg);
                }

                svg {
                    width: 100%;
                }
            }
        }
    }
}