#main-content {
    &.contact {
        #map {
            position: relative;
            overflow: hidden;

            iframe {
                position: relative;
                display: block;
                width: 100%;
                height: 60vh;
                border: none;
            }
        }

        .title-desc {
            text-align: center;

            @media #{$mq-lg-min} {
                text-align: left;
            }
        }

        #map-section {
            background: $blue url(../img/texture.png) center left / cover no-repeat;
            padding: 7.5vw 0 15vw 0;

            @media #{$mq-md-min} {
                background-position: center center;
                padding: 5vw 0 10vw 0;
            }

            .left {
                color: $white;
                text-align: center;
                padding-bottom: 7.5vw;

                @media #{$mq-lg-min} {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 1rem;
                    padding-bottom: 0;
                    text-align: left;
                }

                .floating-icon {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $white;
                    width: 9rem;
                    height: 9rem;
                    padding: 3.25rem;
                    margin: auto auto 1rem auto;

                    @media #{$mq-lg-min} {
                        width: 12vw;
                        height: 12vw;
                        padding: 3.5vw;
                        margin: 0;
                    }

                    .rotating-bg {
                        position: absolute;
                        z-index: 0;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;

                        svg {
                            animation: rotation 10s infinite linear;
                            width: 100%;
                        }
                    }

                    > svg {
                        transform: translateX(.125rem);

                        @media #{$mq-lg-min} {
                            transform: translateX(.325vw);
                        }
                    }

                    svg {
                        path,
                        rect,
                        polygon {
                            fill: $white;
                        }
                    }
                }
            }

            .right {
                img {
                    width: 100%;
                }
            }
        }
    }
}