#main-content {
    &.home {
        background-color: $black;
        
        #opening {
            position: fixed;
            z-index: 999999999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            color: $white;

            .bg {
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: flex-start;
                opacity: 1;

                div {
                    width: 100%;
                    height: 100%;
                    background-color: darken($blue, 20);
                }
            }
        }

        #home-banner {
            min-height: 100vh;
            height: 100svh;
            text-align: center;
            padding-top: 25vw;
            color: $white;
            background-color: darken($green, 50);
            overflow: visible;

            @media #{$mq-xs-min} {
                padding-top: 6.75rem;
            }
            
            @media #{$mq-2xl-min} {
                padding-top: 8rem;
            }

            .bg {
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $black;

                video {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    opacity: .5;
                }
            }

            .container,
            .row,
            .col-12 {
                height: 100%;
            }

            .col-12 {
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 5vw;

                @media #{$mq-sm-min} {
                    gap: 1.75vw;
                }

                @media #{$mq-xl-min} {
                    gap: 1vw;
                }

                @media #{$mq-2xl-min} {
                    gap: .5vw;
                }

                h1 {
                    margin-top: -3vw;
                    line-height: 1.1;

                    @media #{$mq-sm-max} {
                        font-size: 3rem;
                    }
                }

                p {
                    display: block;
                    margin: 0 auto .775rem auto;
                    width: 22rem;
                    max-width: 100%;
                    line-height: 1.4;
                }
            }
        }

        #top-box {
            background: $green url(../img/lines-white.png) center center / cover no-repeat;

            h2 {
                line-height: 1.1;
            }
        }

        #services {
            background: $blue-light url(../img/lines.png) center center / cover no-repeat;

            .horizontal-scroll {
                width: 100%;
                max-width: calc(100% - .75rem);
                margin: auto;
                padding: 7.5vw 15px 7.5vw 15px;

                @media #{$mq-xs-min} {
                    max-width: 95%;
                }

                @media #{$mq-md-min} {
                    max-width: 90%;
                    padding-top: 5vw;
                    padding-bottom: 5vw;
                }

                @media #{$mq-lg-min} {
                    display: flex;
                    align-items: center;
                    width: calc(100vh * 5);
                    max-width: calc(100vh * 5);
                    height: 100vh;
                    margin: 0;
                    padding: 0;
                }

                .slide {
                    padding-bottom: 12.5vw;

                    @media #{$mq-md-min} {
                        padding-bottom: 10vw;
                    }

                    @media #{$mq-lg-min} {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        flex-direction: column;
                        gap: 3vh;
                        width: 100vh;
                        padding-bottom: 0;
                    }

                    &:first-child {
                        @media #{$mq-lg-min} {
                            justify-content: flex-start;
                            text-align: left;
                        }

                        .wrapper {
                            position: relative;

                            h2 {
                                color: $white;
                            }

                            .scroll {
                                display: flex;
                                justify-content: flex-start;
                                width: 1.75rem;
                                height: 3rem;
                                border-radius: 1rem;
                                border: 2px solid $white;
                                position: absolute;
                                padding: .45rem .65rem;
                                transform-origin: 0 0;
                                top: .5rem;
                                right: 0;
                                transform: scale(.8);

                                @media #{$mq-lg-min} {
                                    position: relative;
                                    top: auto;
                                    right: auto;
                                    transform: scale(.75);
                                    margin-top: 1.25rem;
                                }

                                .inner {
                                    display: block;
                                    width: 100%;
                                    height: 50%;
                                    border-radius: 1rem;
                                    position: relative;
                                    overflow: hidden;

                                    .white {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        background-color: $white;
                                        transform: translateY(-110%);
                                        animation: scroll 2s infinite ease-in-out;
                                    }
                                }
                            }
                        }
                    }

                    .image {
                        display: block;
                        position: relative;
                        overflow: hidden;
                        width: 100%;
                        margin: auto;
                        height: 50vh;
                        border-radius: .5rem;

                        @media #{$mq-lg-min} {
                            width: 90%;
                            height: 65vh;
                            border-radius: .75rem;
                        }

                        img {
                            width: 130%;
                            max-width: none;
                        }
                    }

                    h3 {
                        position: relative;
                        z-index: 2;
                        font-weight: $bold;
                        color: $white;
                        margin: 1rem 0 .75rem 0;
                        width: fit-content;

                        @media #{$mq-lg-min} {
                            margin: 0;
                        }

                        span {
                            position: absolute;
                            z-index: -1;
                            top: 0;
                            left: -.25rem;
                            width: calc(100% + .5rem);
                            height: 100%;
                            background-color: $blue;
                            transform-origin: 0 0;

                            @media #{$mq-lg-min} {
                                transform: scaleX(0);
                                left: -1rem;
                                width: calc(100% + 2rem);
                            }
                        }
                    }
                }
            }
        }

        #world {
            .bg {
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;
                width: 100%;
                height: calc(100% + 10rem);
                background-color: $black;

                img {
                    filter: brightness(.5);

                    @media #{$mq-md-min} {
                        filter: brightness(1);
                    }
                }
            }

            .row > div {
                z-index: 2;
                color: $white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 5vw;
                padding-top: 20vw;
                padding-bottom: 30vw;

                @media #{$mq-md-min} {
                    gap: 2vw;
                    min-height: 110vh;
                    padding-top: 5vw;
                    padding-bottom: 5vw;
                }

                .desc {
                    display: block;
                    margin-bottom: .5rem;
                }
            }
        }

        #contact {
            z-index: 3;
            color: $white;
            background-color: $white;
            overflow: visible;

            .box {
                background: $green url(../img/lines-white.png) center center / cover no-repeat;
                padding: 7.5vw;
                border-radius: 1rem;
                margin-top: -5rem;

                @media #{$mq-md-min} {
                    padding: 5vw;
                }

                .left {
                    padding-bottom: 1.5rem;

                    @media #{$mq-md-min} {
                        padding-bottom: 0;
                    }

                    @media #{$mq-xl-min} {
                        padding-right: 3rem;
                    }

                    .desc {
                        display: block;
                        margin-top: .375rem;
                    }
                }

                .right {
                    @media #{$mq-xl-min} {
                        padding-right: 3rem;
                    }

                    p {
                        display: block;
                        margin-bottom: 1.5rem;

                        @media #{$mq-md-min} {
                            margin-bottom: 1.5vw;
                        }
                    }
                }
            }
        }
    }
}